@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#2563EB;
    --gray: #F3F4F6;
    --dark-gray:#6B7280;
    --primary-link: 10rem;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
}
main{
    margin-bottom: 10.4375rem;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1.7rem;
    border-radius: 0.5rem;
}
.link-primary{
    background-color: var(--primary-color);
    color: white;
}
hr{
    margin: 2rem 0rem;  
}
.link-secondary{
    border: 0.1rem solid var(--primary-color);
}
.container{
    margin: 0rem 1rem;
}
.container-center{
    max-width: 37.5rem;
    margin: auto;
}
.non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/* ----------------------------------------- */
nav ul{
    text-align: right;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    padding-bottom: 1rem;
}
nav{
    background-color: var(--primary-color);
    color: white;
    padding: 0.0625rem;
    border-bottom-left-radius: 1rem;
}
nav h4{
    margin-left: 0.8rem;
    margin-top: 0.7rem;
    font-size: 0.9375rem;
    margin-bottom: 0.2rem;
}
.nav-page{
    font-weight:bolder;
}
nav ul a{
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    font-size: 1.1875rem;
}
nav ul {
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}
.header img{
    display: block;
    width: 45%;
    margin:auto;
}
.header h1{
    text-align: center;
    color: var(--dark-gray);
    font-size: 1.875rem;
}
.section-normal h1{
    display: block;
    text-align: center;
    padding-top: 2.1rem;
    font-size: 1.5625rem;

}
.section-normal{
    padding-bottom:1.8rem ;
}
.section-normal p {
    padding-bottom: 1rem;
}
.section-white {
    background-color:var(--gray);
    padding-top: 0.1rem;
    padding-bottom: 2rem;
}
.section-white h1{
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.5625rem;
}
footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
    padding-top: 0.1rem ;
    padding-bottom: 0.1rem;
}
footer div{
    font-size:large;
    font-weight: bold;
}
footer ul{
    padding-inline-start: 0rem;
    margin: 1rem 0rem 0rem 0rem;
}

.theme-color{
    color:var(--primary-color)
}
.icons{
    padding: 1.5rem; 
}

.text-center{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    padding: 0rem 1rem;
}

footer small{
    color: var(--gray);
    
}
.section-projects img{
    width: 1.5rem;
}

.projects-icon{
    padding-inline-start: 2.5rem;
}

.section-projects ul{
    padding-inline-start: 0rem;
}
.container-center li{
    margin: 3rem 0rem;
}

.section-icons ul{
    padding-inline-start: 0rem;
    margin: 0rem 0rem;
}
footer .fab ,.fas{
    font-size: 1.5625rem;
    margin-bottom: 1rem;
}

/* Alt+Z Px to rem, and rem to px.*/
/* 1rem = 16px */
@media (max-width:362px) {
    nav h4{
        display: none;
    }
    nav ul{
        text-align: center;

    }
}